import {Component } from 'angular/core';

@Component({
    selector: 'app-home',
    imports: [ ],
    templateUrl: '.home.html',
styleUrl: ' ./home.css' ,

}) 
export class Home {
title= "Hallo FIW!";
isDisabled = true;
bildQuelle1 = "https://www.htw-berlin.de/files/"
bildQuelle2 = "https://www.htw-berlin.de/files/"
bildQuelle3 = "https://www.htw-berlin.de/files/"

wh = true;

changeImg(): void {
    if(this.wh){
        this.bildQuelle = this.bildQuelle2;
        this.wh = false;
    }
    else{
        this.bildQuelle = this.bildQuelle1;
        this.wh = true;
    }
}
}

    
